<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="appFolder">/home/matjav/apps/cameltest1</Property>
        <Property name="appName">cameltest1</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="L %d{ISO8601} %-5level [%t] %C{1.}: %msg%X%n%throwable"/>
        </Console>
        <RollingFile name="RollingFile"
                     fileName="${appFolder}/logs/${appName}.log"
                     filePattern="${appFolder}/logs/$${date:yyyy-MM}/${appName}-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup and daily-->
                <OnStartupTriggeringPolicy />
                <TimeBasedTriggeringPolicy />
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- LOG everything at INFO level -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="RollingFile" />
        </Root>

    </Loggers>
</Configuration>